
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    {% block head %}
        <title>LaunchStore</title>
    {% endblock %}

    {% include "parts/styles.njk" %}

</head>
<body>
    {% include "parts/messages.njk"%} 

    {% include "parts/header.njk"%}

    {% block content %}

    {% endblock %}

    {% include "parts/footer.njk"%}

</body>
</html>